<%- include('header') %>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div id="signupbox" style="margin-top: 15%;" class="mainbox col-md border border-basic">
        <div class="panel" style="padding: 4%;">
          <h2 class="panel-heading text-white" style="padding: 1%;background-color: black;">
            <div class="panel-title">Add New Password</div>
          </h2>
          <div class="panel-body">
            <form action="/addNewPassword" id="PasswordForm" class="form-horizontal" method="POST" role="form">
              <% if(success != ''){ %>
                <p style="text-align: center; color: blue;"><%= success %></p>
             <% } %>
            <div class="form-group">
              <label for="username" class="col-md-7 control-label">Select Category</label>
              <div class="col-md-9">
                <select class="form-control" name="pass_cat">
                    <option>Select Password Category</option>
                    <% if(records.length > 0){
                      records.forEach(function(row){

                       %>
                    <option value="<%= row.password_category %>"><%= row.password_category %></option>
                 <% })} %>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="project_name" class="col-md-7 control-label">Project Name</label>
              <div class="col-md-9">
                <input type="textbox" class="form-control" name="project_name" placeholder="Enter your project name">
              </div>
            </div>

            <div class="form-group">
                <label for="pass_details" class="col-md-7 control-label">Enter New Password</label>
                <div class="col-md-9">
                  <textarea class="form-control" id="editor" rows="5" name="pass_details" placeholder="Enter New Password Detail"></textarea>
                </div>
              </div>
              
            <div class="form-group">
              <div class="col-md-offset-3 col-md-9">
                <input type="submit" name="submit" value="Add Password" class="btn btn-danger">
              </div>
            </div>
            <p><a href="/viewAllPassword">View All Passwords</a></p>
            </form>
          </div>
        </div>
        </div>
        <div class="col-md-3"></div>
       
      </div>
    </div>
    <script>
      CKEDITOR.replace( 'editor' );
  </script>
  <%- include('footer') %>
